In [0]:
%python
Views: virtual table 
1. standard view (persisted) SQL
2. temp view (SQL and pyspark)
3. global temp view

In [0]:
create or replace view dev.naval.country_count as
select Country, count(Country) as count from dev.naval.richest_people group by Country order by count desc

In [0]:
select * from dev.naval.country_count

In [0]:
create or replace temp view richest_people_above_100 as 
select * from dev.naval.richest_people where net_worth_in_billions>=100

In [0]:
create or replace global temp view richest_people_above_100_global as 
select * from dev.naval.richest_people where net_worth_in_billions>=100

In [0]:
use catalog dev;
show views in naval;

In [0]:
select * from richest_people_above_100

In [0]:
%python
df=spark.read.csv("/Volumes/dev/naval/raw/sales.csv",header=True, inferSchema=True)
df.createOrReplaceTempView("temp_sales")
df.createOrReplaceGlobalTempView("temp_gloabl_sales")

In [0]:
show views in global_temp;

In [0]:
select * from global_temp.temp_gloabl_sales

In [0]:
-- Create table tblname as 
select *, current_date() as ingestion_date from temp_sales